.social-links{
  text-align: center;
  padding-top: 2%;
}
.social-links ul{
  display: block;
}

.social-links ul li{
  list-style: none;
  display: inline-block;
  padding: 0 20px;
  cursor: pointer;
}

.icon-social{
  height: 40px;
}

svg:hover{
  #icon-social-path{
    fill: blue;
  }
}