html, body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.container{
  height: 100%;
  width: 100%;
  background: #140025;
  position: relative;
}
.rigth-block{
  height: 100%;
  width: 20%;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
}

.rigth-block .triangle-effect1{
  position: absolute;
  left: 5%;
  height: 0;
  width: 0;
  top: 0;
  border-bottom: 60em solid transparent;
  border-right: 40em solid #e00000;
  z-index: 999;
}

.rigth-block .triangle-effect2{
  position: absolute;
  left: 0;
  height: 0;
  width: 0;
  bottom: 0;
  border-top: 100em solid transparent;
  border-right: 40em solid #990100;
}


.hero-logo{
  width: 100%;
  height: 65%;
  text-align: center;
  top: 10%;
  position: absolute;
}

.hero-logo #logo{
  height: 100%;
}

.hero-logo .slogan{
  top: 40%;
  position: absolute;
  right: 0;
  left: 0;
}

.hero-logo .slogan h3{
  color: #fff;
  font-size: 3em;
  font-weight: 300;
  font-style: italic;
}

.page-name{
  height: 10%;
  bottom: 20%;
  position: absolute;
  width: 100%;
  text-align: center;
}
.page-name #logo-name{
  height: 70%;
}

/*social icons*/
.social-links{
  text-align: center;
  position: absolute;
  top: 5%;
  right: 0;
  left: 0;
}
.social-links ul{
  display: block;
  padding: 0;
}

.social-links ul li{
  list-style: none;
  display: inline-block;
  padding: 0 40px;
  cursor: pointer;
}

.icon-social{
  height: 40px;
}

#icon-social-path{
  transition: 1s;
}

svg:hover #icon-social-path {
  fill: #E21C37;
}
/*social-icons-end*/



.contact{
  z-index: 10;
  position: absolute;
  bottom: 5%;
  right: 3%;
}

span{
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: 300;
}
