html, body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.container{
  height: 100%;
  width: 100%;
  background: #140025;
  position: relative;
}
.right-block{
  display: none;
  height: 100%;
  width: 20%;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  pointer-events: none;
}

.right-block .triangle-effect1{
  position: absolute;
  left: 5%;
  height: 0;
  width: 0;
  top: 0;
  border-bottom: 60em solid transparent;
  border-right: 40em solid #e00000;
  z-index: 999;
}

.right-block .triangle-effect2{
  position: absolute;
  left: 0;
  height: 0;
  width: 0;
  bottom: 0;
  border-top: 100em solid transparent;
  border-right: 40em solid #990100;
}


.hero-logo{
  width: 100%;
  height: 100%;
  text-align: center;
}

.hero-logo #devignis-logo{
  position: absolute;
  top: 15%;
  left: 15%;
}

.hero-logo .slogan{
  top: 50%;
  position: absolute;
  right: 0;
  left: 0;
}

.hero-logo .slogan h3{
  color: #fff;
  font-size: 1.6em;
  font-weight: 300;
  font-style: italic;
}

.page-name{
  height: auto;
  top: 10%;
  position: absolute;
  width: 100%;
  text-align: center;
}
.page-name #logo-name{
  height: 50px;;
}

/*social icons*/
.social-links{
  text-align: center;
  position: absolute;
  bottom: 5%;
  right: 0;
  left: 0;
}
.social-links ul{
  display: block;
  padding: 0;
}

.social-links ul li{
  list-style: none;
  display: inline-block;
  padding: 0 20px;
  cursor: pointer;
}

.icon-social{
  height: 40px;
}

#icon-social-path{
  transition: 1s;
}

svg:hover #icon-social-path {
  fill: #E21C37;
}
/*social-icons-end*/



.contact{
  z-index: 10;
  position: absolute;
  bottom: 3%;
  right: 0;
  left: 0;
  text-align: center;
}

.contact span{
  color: #fff;
  font-size: 0.9em;
  text-decoration: none;
  font-weight: 500;
}

/*responsive*/

@media screen and (max-width: 749px) and (min-width: 600px) {
    .page-name #logo-name {
      height: 70px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 700px) {
  .hero-logo{
    height: 65%;
    position: absolute;
    bottom: 15%;
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  .hero-logo #devignis-logo{
    position: absolute;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    right: 0;
    left: 0;
    top: 0;
  }
  .hero-logo .slogan{
    top: 40%;
  }
  .hero-logo .slogan h3 {
    font-size: 2.6em;
  }
}

@media screen and (max-width: 2000px) and (min-width: 1024px) {
  .right-block{
    display: block;
    width: 30%;
  }
  .social-links{
    top: 5%;
  }
  .page-name{
    top: initial;
    bottom: 10%;  
  }
  .hero-logo{
    height: 65%;
    position: absolute;
    bottom: 10%;
    right: 0;
    left: 0;
    margin: 0 auto;
    bottom: 20%;
  }
  .hero-logo #devignis-logo{
    position: absolute;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    right: 0;
    left: 0;
    top: 0;
  }
  .hero-logo .slogan{
    top: 40%;
  }
  .hero-logo .slogan h3 {
    font-size: 3em;
  }

  .social-links ul li{
    padding: 0 40px;
  }

  .contact{
    right: 5%;
    left: initial;
  }
  .contact span{
    font-size: 1em;
  }
}
